*{
  scroll-behavior: smooth;
}
.body{
  height: 100dvh;
}

.user-paper{
  padding: 1em;
  margin-bottom: 0.4em;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  display: flex;
}

.user-paper img, .profile-image{
  width: 100px;
  border: 50%;
  height: 100%;
}

.setting-box{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1em;
  justify-content: space-around;
}

.modal{
  color: black !important;
  width: 70dvw;
  position: fixed;
  bottom: 1em;
  box-shadow: 0px 0px 20px grey;
  height: 10dvh;
  background: rgb(254, 254, 254);
}


.message-body{
  clear: both;
  width:30%;
  word-wrap: break-word;
  padding: 1em;
}

.message-body.sender{
  float: left;
}

.message-body.receiver{
  float: right;
}

.message-body.sender .message{
  background: rgb(124, 247, 218);
}

.message-body .message{
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(182, 182, 182, 0.264);
}
.message-body.receiver .message{
  background: lightgray;
}