.message{
    padding:1em;
    clear: both;
    width: 45%;
    word-break: break-all;
    word-wrap: break-word;
}

.message.sender{
    float: left;
}

.message.receiver{
    float: right;
}

.message .text{
    padding: .6em;
    color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.264);
    margin: 0.5em 0;
    border-radius: 10px;
}
.message.sender .text{
    background: rgb(122, 120, 120);
}

.message.receiver .text{
    background: rgba(79, 166, 220, 0.881);
}

.chat-body{
    height: 100%;
    overflow-y: auto;
}